.modal__wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
}

.modal__wrapper.open {
    height: 100px;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    max-width: 500px;
    margin: auto;
    background: white;
    margin-top: 5px;
    padding: 20px;
    border-radius: 10px;
    max-height: 100px;
    overflow-y: scroll;
}